.header {
    background-color: #1f2937;

}

body{
    margin: 0;
    padding: 0;
    background-color: #1f2937
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8
}

.links{ 
    font-size: 18px;
    color: #e5e7eb;
}

#link-one {
    margin-left: auto;
}

#link-three {
    margin-right: 30px;
}

.introduction {
    display: flex;
    padding: 75px;
    gap: 15px
}

h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}

.intro-left p {
    font-size: 18px;
    color: #e5e7eb;
}

.intro-right {
    flex: 1 1 50%;
}

.intro-left {
    flex: 1 1 50%;
}

.picture-and-descriptions {
    background-color: white;
}

.section-two-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    gap: 15px;
    padding-right: 100px;
    padding-left: 100px;
}

.image-with-text {
    background: purple;
    height: 200px;
    width: 200px;
    display: flex;
}

.testimonials {
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    padding: 50px 250px;
}

.signup {
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.blue-box {
    display: flex;
    background-color: #3882F6;
    padding: 10px 75px;
    gap: 75px;
}

.sign-up-button {
    justify-content: center;
    align-self: center;
}

footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: #e5e7eb
}