.box {
    background-color: black;
    display: flex;
  }

  .one {
    background-color: red;
    flex: 1 1 auto;
  }

  .two {
    background-color: blue;
    flex: 1 1 auto;
  }

  .three {
    background-color: green;
    flex: 1 1 auto;
    margin-left: auto;
  }
